[
  {'restler', [{web_ip, "0.0.0.0"},
                {web_port, 8080}]},
  {webmachine, [
    {log_handlers, [
      {webmachine_access_log_handler, ["log"]}
    ]}
  ]},
  {pooler, [
    {pools, [
      [{name, riak1},
       {group, riak8087},
       {max_count, 100},
       {init_count, 40},
       {start_mfa, {riakc_pb_socket, start_link, ["riak1.samposoftware.com", 8087]}}],
      [{name, riak2},
       {group, riak8087},
       {max_count, 100},
       {init_count, 40},
       {start_mfa, {riakc_pb_socket, start_link, ["riak2.samposoftware.com", 8087]}}],
      [{name, riak3},
       {group, riak8087},
       {max_count, 100},
       {init_count, 40},
       {start_mfa, {riakc_pb_socket, start_link, ["riak3.samposoftware.com", 8087]}}]
    ]}
  ]}
].
