[
  {'restler', [{web_ip, "0.0.0.0"},
                {web_port, 8080}]},
  {webmachine, [
    {log_handlers, [
      {webmachine_access_log_handler, ["log"]}
    ]}
  ]},
  {pooler, [
    {pools, [
      [{name, riak8087},
       {group, riak},
       {max_count, 5},
       {init_count, 2},
       {start_mfa, {riakc_pb_socket, start_link, ["localhost", 8087]}}]
    ]}
  ]}
].
